/* PALETA DE COLORES */
:root {
    --color-uno: #181419;
    --color-dos: #f0e4e4;
    --color-tres: #1dfbd2;
    --color-cuatro: #09c184;
    --color-cinco: #0a8967;
    --color-sexto: #225e57;
    
}

/* GENERAL */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 100%;
}

body{
    background-color: var(--color-dos);
}

/* BARRA NAVEGACION */
nav {
    background-color: var(--color-sexto);
    padding: 10px 0;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav a {
    color: var(--color-dos);
    text-decoration: none;
    padding: 0 10px;
    font-size: 200%;
}

nav a:hover{
    font-style: inherit;
    font: unset;
    font-size: 300%;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PARRAFOS */
.titulo {
    font-size: 200%;
    text-align: center;
    text-decoration: underline double;
}

.titulo-2 {
    text-align: center;
    border: var(--color-dos) solid 5px;
    margin-right: 20px;

}

.caja {
    border: var(--fourth-color) solid 10px;
    border-radius: 10px;
    margin-right: 20px;
}

/* SUBTITULOS */
.subtitulo-1 {
    text-align: center;
    font-size: 300%;
    background-color: var(--primary-color);
}

.subtitulo-2 {
    text-align: left;
    padding: 10px;
    border: 5px solid var(--bg-color);
    border-radius: 10px;
}

.imagen-1 {
    display: flex;
    margin: 10px 15px;
}

#imagen-2 {
    margin-bottom: 20px;
    border: var(--primary-color) solid 10px;
    border-image: 20px;
}